body {
	margin-top: $navbar-height;
}
label {
	font-weight: normal;
}

.navbar.navbar-default {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	.navbar-brand {
		padding: 10px 15px 0 15px;
		img {
			height: 50px;
		}
	}
	.navbar-btn {
		font-size: 14px;
		padding: 5px 10px;
		margin-top: 18px;
		margin-bottom: 16px;
	}
	.navbar-right {
		margin-right: 0;
	}
}


.btn-facebook {
	background: #3B5998;
	position: relative;
	color: #fff;
	.fa {
		position: absolute;
		left: 10px;
		top: 9px;
	}
}
.btn-google {
	background: #D34836;
	position: relative;
	color: #fff;
	.fa {
		position: absolute;
		left: 10px;
		top: 9px;
	}
}
.btn-facebook:hover {
	background: darken(#3B5998, 10%);
	color: #fff;
}
.btn-google:hover {
	background: darken(#D34836, 10%);
	color: #fff;
}

.main-container {
	background: #fff;
	padding: 30px 30px 45px 30px;
}

.profile {
	display: block;
	padding-top: 15px;
	img {
		width: 100%;
		margin: 0 auto;
		border-radius: 50%;
	}
}
.user-profile-wrap {
	height: 52px;
	margin: 0;

	.user-profile-wrap-btn {
		padding: 7px 6px;
	    border: none;
	    background: none;

		.user-profile {
			float: left;
		    width: 40px;
		    height: 40px;
		    border-radius: 25px;
		    background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
		}
	}
}
.navbar-default .user-profile-wrap.open > .user-profile-wrap-btn,
.navbar-default .user-profile-wrap.open > .user-profile-wrap-btn:focus {
	background-color: #fff;
}
.navbar-nav > .user-profile-wrap > .dropdown-menu.user-tab:before {
	content: "\f0d8";
    position: absolute;
    margin-top: -30px;
    right: 10px;
    color: #A41E22;
    font-size: 34px;
    background: transparent;
    font-family: 'FontAwesome';
}
.navbar-nav > li > .dropdown-menu {
	box-shadow: none;
	font-size: 14px;
	padding-top: 2px;
	li a {
		padding: 4px 20px;
	}
}
.navbar-nav > li > .dropdown-menu.user-tab {
	margin-top: 12px;
	margin-right: 5px;
}

@media(min-width: $screen-md-min) {
	.navbar-nav {
		margin-top: 10px;
		margin-bottom: 10px;
	}

}