h1 {
	font-size: 32px;
	padding: 15px 0 30px;
}
p {
	line-height: 1.3em;
	margin-bottom: 15px;
}
label {
	line-height: 1.4em;
}
.main-container .login-wrapper,
.main-container .register-wrapper {
	padding: 30px 0;
}

/* Login styling */
.login-wrapper .btn.btn-google {
	background: #ffffff;
	border-radius: 2px;
	box-shadow: 1px 1px 4px #999;
	color: #333333 !important;
	font-weight: 700;
	margin-bottom: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}
.login-wrapper .btn.btn-facebook {
	background: #3b5998;
	border-radius: 2px;
	box-shadow: 1px 1px 4px #666;
	color: #ffffff !important;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	text-transform: uppercase;
}
.login-wrapper .btn.btn-google>img,
.login-wrapper .btn.btn-facebook>img {
	position: absolute;
	left: 15px;
	top: 5px;
	height: 30px;
	width: 30px;
}

/* Register styling */
.main-container .register-wrapper {
	padding: 30px 10px 90px 10px;
	background: #fff;
	margin: 20px 0px;
	position: relative;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
.main-container .register-wrapper .register-form label {
	padding: 5px 0;
}
.main-container .register-wrapper .register-form .checkbox label {
	padding-left: 20px;
}
.main-container .register-wrapper .register-form h4 {
	font-size: 80%;
}
.main-container .register-wrapper .register-form a {
	color: #A41E22;
}
.main-container .register-wrapper .register-form button {
	text-align: center;
	color: #FFF;
	background-color: #EC1F27;
	border-color: #EC1F27;
}

/* Password recovery styling */
.main-container .recover-wrapper {
	padding: 30px 10px 90px 10px;
	background: #fff;
	margin: 20px 0px;
	position: relative;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
.main-container .recover-wrapper .recover-form button {
	text-align: center;
	color: #FFF;
	background-color: #EC1F27;
	border-color: #EC1F27;
}
.main-container .recover-wrapper .recover-form h4 {
	font-size: 80%;
}
.main-container .recover-wrapper .recover-form a {
	color: #A41E22;
}

/* Password reset styling */
.main-container .reset-wrapper {
	padding: 30px 10px 90px 10px;
	background: #fff;
	margin: 20px 0px;
	position: relative;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
.main-container .reset-wrapper .reset-form button {
	text-align: center;
	color: #FFF;
	background-color: #EC1F27;
	border-color: #EC1F27;
}
.main-container .reset-wrapper .reset-form h4 {
	font-size: 80%;
}
.main-container .reset-wrapper .reset-form a {
	color: #A41E22;
}

