/*
Theme Name: Gakken Website.
Theme URI: gakken-idn.id
Description: Gakken theme for the new website
Version: 1.0
Author: Aisyah Azalya
Author URI: syhzly.com
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic);
@import "https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700";

/* line 5, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
html {
  position: relative;
  min-height: 100%;
}

/* line 21, ../sass/screen.scss */
body {
  background: #f1f1f1;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  border-sizing: border-box;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  margin-top: 71px;
}

/* line 28, ../sass/screen.scss */
/*nav, h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}*/

/* line 31, ../sass/screen.scss */
a {
  color: #555555;
}
/* line 33, ../sass/screen.scss */
a:hover {
  color: #A41E22;
  text-decoration: none;
}
/* line 37, ../sass/screen.scss */
a.page-numbers {
  color: #A41E22;
  padding: 5px;
}

/* line 42, ../sass/screen.scss */
.fixed-nv {
  min-height: 60px;
  background: #fff;
  border: none;
  border-bottom: 3px solid #A41E22;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: -75px;
  transition: top 0.5s ease-out;
}
/* line 53, ../sass/screen.scss */
.fixed-nv .container-fluid {
  padding: 10px;
}
/* line 55, ../sass/screen.scss */
.fixed-nv .container-fluid .logo {
  overflow: hidden;
}
/* line 57, ../sass/screen.scss */
.fixed-nv .container-fluid .logo a {
  padding: 5px 15px;
}
/* line 59, ../sass/screen.scss */
.fixed-nv .container-fluid .logo a img {
  width: 150px;
  height: auto;
}

/* line 67, ../sass/screen.scss */
.nvscrolled {
  top: 0;
}

@keyframes Down {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
@keyframes Up {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 94, ../sass/screen.scss */
.dropdown-menu {
  padding-top: 0px;
  padding-botttom: 0px;
}

@media (min-width: 768px) {
  /* line 100, ../sass/screen.scss */
  .modal-dialog {
    margin: 200px auto;
  }
}
/* line 108, ../sass/screen.scss */
.dropdown-menu > li > a {
  padding: 5px 20px;
}

/* line 115, ../sass/screen.scss */
.user-profile-wrap .user-profile-wrap-btn {
  padding-top: 7px;
  border: none;
  background: none;
}
/* line 119, ../sass/screen.scss */
.user-profile-wrap .user-profile-wrap-btn .user-profile {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}
/* line 125, ../sass/screen.scss */
.user-profile-wrap .user-tab {
  margin-top: 12px !important;
  margin-right: 5px;
  background: white;
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
/* line 131, ../sass/screen.scss */
.user-profile-wrap .user-tab:before {
  content: "\f0d8";
  position: absolute;
  margin-top: -24px;
  right: 10px;
  color: #A41E22;
  font-size: 34px;
  background: transparent;
  font-family: 'FontAwesome';
}

/* line 144, ../sass/screen.scss */
.search {
  margin: 20px 0px;
}
/* line 147, ../sass/screen.scss */
.search .stylish-input-group .input-group-addon {
  background: white !important;
}
/* line 150, ../sass/screen.scss */
.search .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}
/* line 155, ../sass/screen.scss */
.search .stylish-input-group button {
  border: 0;
  background: transparent;
}

/* line 162, ../sass/screen.scss */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background: transparent;
  color: #BBBABA;
}

/* line 167, ../sass/screen.scss */
.highlight-btn {
  background-color: #EC1F27;
  color: #fff !important;
  border-color: #D20811;
  padding: 5px 10px !important;
}
/* line 172, ../sass/screen.scss */
.highlight-btn:hover {
  background: #ebebeb;
  border-color: #D0D0D0;
  color: #000 !important;
}

/* line 178, ../sass/screen.scss */
.full-width {
  margin: 0 auto;
  max-width: 100%;
  width: 1100px;
}

/* line 183, ../sass/screen.scss */
.static-nv-container {
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* line 187, ../sass/screen.scss */
.static-nv {
  border: none;
  background: transparent;
  margin-bottom: 0px;
}
/* line 191, ../sass/screen.scss */
.static-nv .navbar-brand {
  height: auto;
  padding: 10px 15px;
}
/* line 206, ../sass/screen.scss */
.static-nv .navbar-brand > img {
  display: block;
  height: 45px;
  width: auto;
}
/* line 194, ../sass/screen.scss */
.static-nv .navbar-nav {
  padding: 10px 0px;
}
/* line 197, ../sass/screen.scss */
.static-nv .dropdown-menu {
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175);
  border: 0px !important;
}
/* line 202, ../sass/screen.scss */
.static-nv .navbar-toggle {
  margin-top: 30px;
}
/* line 229, ../sass/screen.scss */
.static-nv .navbar-right > .navbar-btn {
  margin-top: 20px;
}

/* line 211, ../sass/screen.scss */
.slider-container {
  padding-top: 20px;
  overflow: hidden;
}
/* line 214, ../sass/screen.scss */
.slider-container .slider {
  height: 500px;
  background: #B3B3B3;
}
/* line 217, ../sass/screen.scss */
.slider-container .slider p {
  padding: 0px !important;
}
/* line 220, ../sass/screen.scss */
.slider-container .slider .read-more {
  padding-top: 5px;
}
/* line 224, ../sass/screen.scss */
.slider-container .slider-sidebar {
  padding-right: 0px !important;
}
/* line 226, ../sass/screen.scss */
.slider-container .slider-sidebar .small-sidebar {
  height: 150px;
  background: #B3B3B3;
  margin-bottom: 25px;
}
/* line 235, ../sass/screen.scss */
.slider-container .slide .slide-copy h1 a {
  font-size: 120%;
}
/* line 239, ../sass/screen.scss */
.slider-container .slide .slide-copy h5 {
  text-align: right;
}
/* line 241, ../sass/screen.scss */
.slider-container .slide .slide-copy h5 a {
  font-size: 80%;
  color: red;
}

/* line 252, ../sass/screen.scss */
.article-bg {
  background: #fff;
  font-family: 'Open-sans', sans-serif;
  margin: 20px;
}
/* line 257, ../sass/screen.scss */
.article-bg .user-profile {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 20px auto;
}
/* line 264, ../sass/screen.scss */
.article-bg .profile-container {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 269, ../sass/screen.scss */
.article-bg h1, .article-bg h2 {
  font-weight: 600;
  margin: 5px 0px;
}
/* line 274, ../sass/screen.scss */
.article-bg h1, .article-bg h2, .article-bg h3, .article-bg p {
  line-height: 1.4;
}
/* line 278, ../sass/screen.scss */
.article-bg ul {
  padding: 10px 0px;
}
/* line 281, ../sass/screen.scss */
.article-bg ul li {
  padding: 5px 0px;
}
/* line 286, ../sass/screen.scss */
.article-bg a {
  color: #A41E22;
  margin: 5px 0px;
}

/* line 296, ../sass/screen.scss */
.small-sidebar {
  position: relative;
}
/* line 298, ../sass/screen.scss */
.small-sidebar .container {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  position: absolute;
  width: 100%;
}
/* line 310, ../sass/screen.scss */
.small-sidebar .img {
  overflow: hidden;
  display: block;
  height: 150px;
}
/* line 315, ../sass/screen.scss */
.small-sidebar img {
  width: 100%;
  height: auto;
}

/* line 321, ../sass/screen.scss */
.main-container .article-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 325, ../sass/screen.scss */
.main-container .article-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
/* line 331, ../sass/screen.scss */
.main-container .article-container h1 {
  color: #A41E22;
  font-size: 120%;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
/* line 338, ../sass/screen.scss */
.main-container .article-container .row {
  padding-top: 10px;
}
/* line 341, ../sass/screen.scss */
.main-container .article-container .row .article-row h3 {
  font-weight: 600;
  font-size: 100%;
  line-height: 1.2em;
  padding: 5px 0px;
}
/* line 347, ../sass/screen.scss */
.main-container .article-container .row .article-row .article-img {
  height: 200px;
  background: #B3B3B3;
  position: relative;
}
/* line 353, ../sass/screen.scss */
.main-container .article-container:not(last-child) {
  border-bottom: 1px solid rgba(179, 179, 179, 0.35);
}
/* line 357, ../sass/screen.scss */
.main-container .single-article-container {
  background: #fff;
  margin-bottom: 30px;
  padding: 20px;
  min-height: 1137px;
}
/* line 362, ../sass/screen.scss */
.main-container .single-article-container section {
  overflow: hidden;
}
/* line 365, ../sass/screen.scss */
.main-container .single-article-container .page-header {
  margin: 10px 0 20px;
}
/* line 369, ../sass/screen.scss */
.main-container .single-article-container h1.title {
  font-weight: 700;
  line-height: 1.4;
  font-size: 180%;
  font-weight: 700;
  font-style: normal;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
}
/* line 381, ../sass/screen.scss */
.main-container .single-article-container h2.divider {
  color: #A41E22;
  font-size: 130%;
  font-weight: 700;
  padding: 20px 10px;
}
/* line 386, ../sass/screen.scss */
.main-container .single-article-container h2.divider:before {
  content: '';
  width: 20px;
  height: 30px;
  background: #A41E22;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  margin-top: -5px;
}
/* line 399, ../sass/screen.scss */
.main-container .single-article-container .taught-by {
  background: #ebebeb;
  padding: 20px;
  margin: 20px 0px;
  position: relative;
  overflow: hidden;
}
/* line 406, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-wrapper {
  margin: 10px 0px;
  overflow: hidden;
  padding: 10px 0px;
}
/* line 411, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-wrapper:not(last-child) {
  border-bottom: 1px solid #d2d1d1;
}
/* line 416, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-desc {
  line-height: 1.4;
  text-align: justify;
  width: 80%;
  float: left;
}
/* line 421, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-desc h3 {
  padding-bottom: 10px;
}
/* line 426, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-pic {
  width: 20%;
  float: left;
  margin-top: 20px;
}
/* line 432, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-pic-container {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
/* line 439, ../sass/screen.scss */
.main-container .single-article-container .sub-desc {
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
}
/* line 444, ../sass/screen.scss */
.main-container .single-article-container article img {
  max-width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
}
/* line 450, ../sass/screen.scss */
.main-container .single-article-container article p {
  padding: 5px 0px;
  line-height: 1.2;
  font-style: normal;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -.003em;
}
/* line 457, ../sass/screen.scss */
.main-container .single-article-container article p a {
  color: #1488CC !important;
}
/* line 465, ../sass/screen.scss */
.main-container .all-article-wrapper p a {
  color: #1488CC !important;
}
/* line 471, ../sass/screen.scss */
.main-container .two-tab .readmore {
  right: 10px;
}
/* line 474, ../sass/screen.scss */
.main-container .two-tab .list-group {
  margin-top: 20px;
}
/* line 476, ../sass/screen.scss */
.main-container .two-tab .list-group a {
  padding: 20px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 110%;
}
/* line 481, ../sass/screen.scss */
.main-container .two-tab .list-group a span.description {
  font-size: 85% !important;
  margin: 5px 0px;
}

/* line 491, ../sass/screen.scss */
.single-article-container article {
  padding: 10px;
}
/* line 493, ../sass/screen.scss */
.single-article-container article strong {
  font-weight: 700;
}
/* line 496, ../sass/screen.scss */
.single-article-container article h1 {
  font-size: 125%;
}
/* line 499, ../sass/screen.scss */
.single-article-container article h2 {
  font-size: 120%;
}
/* line 502, ../sass/screen.scss */
.single-article-container article h3 {
  font-size: 115%;
}
/* line 505, ../sass/screen.scss */
.single-article-container article h4 {
  font-size: 110%;
}
/* line 508, ../sass/screen.scss */
.single-article-container article h5 {
  font-size: 105%;
}
/* line 511, ../sass/screen.scss */
.single-article-container article blockquote {
  padding: 20px 0px;
}
/* line 515, ../sass/screen.scss */
.single-article-container h6 {
  padding-bottom: 20px;
}
/* line 517, ../sass/screen.scss */
.single-article-container h6 em {
  color: rgba(0, 0, 0, 0.8);
}
/* line 521, ../sass/screen.scss */
.single-article-container li {
  padding: 5px 10px;
  line-height: 1.4;
  list-style: circle;
}
/* line 527, ../sass/screen.scss */
.single-article-container p img {
  max-width: 100%;
}
/* line 531, ../sass/screen.scss */
.single-article-container .sub-desc {
  padding-top: 10px;
  font-family: "Open-sans", sans-serif;
  text-transform: capitalize;
}

/* line 537, ../sass/screen.scss */
.single-article-container article h1, .single-article-container article h2, .single-article-container article h3, .single-article-container article h4, .single-article-container article h5 {
  padding: 20px 0px;
}

/* line 540, ../sass/screen.scss */
.single-article-container ul, .single-article-container ol {
  padding: 10px 20px;
}

/* line 543, ../sass/screen.scss */
.main-container .single-article-container .taught-by .taught-by-desc h3, .main-container .single-article-container .taught-by .taught-by-desc h4 {
  font-weight: 600;
}

/* line 546, ../sass/screen.scss */
.modal-header {
  color: #fff;
  background: #A41E22;
}

/* line 550, ../sass/screen.scss */
.modal-x {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 32px;
  color: #fff;
}
/* line 556, ../sass/screen.scss */
.modal-x:hover {
  text-decoration: none;
  color: #ebebeb;
}

/* line 561, ../sass/screen.scss */
.login-wrapper {
  background: #fff;
  position: relative;
  overflow: hidden;
}
/* line 565, ../sass/screen.scss */
.login-wrapper .login-form {
  margin: 0 auto;
  float: none;
  padding: 10px;
}
/* line 569, ../sass/screen.scss */
.login-wrapper .login-form h4 {
  font-size: 80%;
}
/* line 572, ../sass/screen.scss */
.login-wrapper .login-form a {
  color: #A41E22;
}
/* line 575, ../sass/screen.scss */
.login-wrapper .login-form label {
  padding: 5px 0px;
}
/* line 578, ../sass/screen.scss */
.login-wrapper .login-form .login-container {
  margin: 20px 0px;
  /*font-family: 'Open Sans', sans-serif;*/
}
/* line 581, ../sass/screen.scss */
.login-wrapper .login-form .login-container button {
  text-align: center;
  color: #FFF;
  margin-top: 20px;
  background-color: #EC1F27;
  border-color: #EC1F27;
}
/* line 587, ../sass/screen.scss */
.login-wrapper .login-form .login-container button:hover {
  background: rgba(236, 31, 39, 0.54);
  border: 1px solid rgba(236, 31, 39, 0.54);
  color: #333;
}

/* line 596, ../sass/screen.scss */
.login-wrapper .login-form h3, .login-wrapper .login-form h4 {
  text-align: center;
  padding: 5px 0px;
}

/* line 600, ../sass/screen.scss */
.readmore {
  font-size: 12px;
  right: 0;
  padding: 5px;
  position: absolute;
  font-weight: normal;
}
/* line 606, ../sass/screen.scss */
.readmore a {
  color: #000;
}
/* line 608, ../sass/screen.scss */
.readmore a:hover {
  color: #A41E22;
}

/* line 613, ../sass/screen.scss */
.category-highlight {
  /*font-family: 'Open Sans', sans-serif;*/
  background-color: #A41E22;
  color: #fff;
  font-style: italic;
  padding: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  right: 15px;
  text-align: right;
  position: absolute;
}

/* line 625, ../sass/screen.scss */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 268px;
  min-height: 0px;
}

/* line 632, ../sass/screen.scss */
section#footer {
  background: rgba(93, 93, 93, 0.23);
  padding-top: 30px;
  padding-bottom: 20px;
}
/* line 636, ../sass/screen.scss */
section#footer .container {
  font-family: 'Open-sans', sans-serif;
  color: #5A5555;
  line-height: 1.4;
}
/* line 640, ../sass/screen.scss */
section#footer .container a {
  color: #A41E22;
}
/* line 643, ../sass/screen.scss */
section#footer .container .textwidget {
  margin-top: 10px;
}

/* line 648, ../sass/screen.scss */
.topics-only {
  padding-right: 15px;
}

/* line 653, ../sass/screen.scss */
.topic-article section:not(first-child) {
  padding: 20px 0px;
}
/* line 658, ../sass/screen.scss */
.topic-article #content-summary p {
  padding: 10px 0px;
}
/* line 661, ../sass/screen.scss */
.topic-article #content-summary .list-group-item {
  padding: 15px;
}
/* line 666, ../sass/screen.scss */
.topic-article #achievements .achievements-container {
  background: #ebebeb;
  padding: 20px;
}
/* line 669, ../sass/screen.scss */
.topic-article #achievements .achievements-container .achivements-item {
  margin: 0 auto;
  float: none;
  text-align: center;
}
/* line 673, ../sass/screen.scss */
.topic-article #achievements .achievements-container .achivements-item img {
  margin: 0 auto;
  padding: 5px;
}
/* line 677, ../sass/screen.scss */
.topic-article #achievements .achievements-container .achivements-item p {
  text-align: center;
}
/* line 684, ../sass/screen.scss */
.topic-article #topic-faq .accordion {
  border: 1px solid #ddd;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 10px;
}
/* line 693, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 697, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-heading {
  padding: 10px;
  font-family: 'Open-sans', sans-serif;
}
/* line 700, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-heading a {
  color: #837D7D;
}
/* line 703, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-heading .fa-caret-right {
  color: #A41E22;
}
/* line 707, ../sass/screen.scss */
.topic-article #topic-faq .accordion-group .accordion-inner {
  padding: 20px;
  color: #423B3B;
  background: #ddd;
}

/* line 715, ../sass/screen.scss */
.sidebar-container {
  padding-right: 0px;
}
/* line 717, ../sass/screen.scss */
.sidebar-container div {
  padding-bottom: 20px;
}
/* line 720, ../sass/screen.scss */
.sidebar-container .list-group {
  font-family: 'Open-sans', sans-serif;
}
/* line 722, ../sass/screen.scss */
.sidebar-container .list-group .active {
  background: #A41E22;
  border: 0px;
  font-size: 102%;
  font-weight: 600;
}
/* line 728, ../sass/screen.scss */
.sidebar-container .list-group a {
  padding: 20px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-size: 110%;
}
/* line 733, ../sass/screen.scss */
.sidebar-container .list-group a span.description {
  font-size: 85% !important;
  margin: 5px 0px;
}

/* line 744, ../sass/screen.scss */
.home .sidebar-container div:first-child {
  margin-top: 58px;
}

/* line 751, ../sass/screen.scss */
aside {
  position: relative;
  overflow: hidden;
}
/* line 755, ../sass/screen.scss */
aside img {
  max-width: 100%;
}
/* line 759, ../sass/screen.scss */
aside .sidebar-sub-container .list-group-item {
  border: none;
}
/* line 763, ../sass/screen.scss */
aside .topics-tab {
  width: 12%;
  width: 100%;
}
/* line 766, ../sass/screen.scss */
aside .topics-tab .list-group-item {
  background: #E4E4E4;
}
/* line 768, ../sass/screen.scss */
aside .topics-tab .list-group-item:hover {
  background: #fafafa;
  color: #333;
}
/* line 772, ../sass/screen.scss */
aside .topics-tab .list-group-item .btn {
  background: #1488CC;
  border: #0974B2;
  width: 100%;
}
/* line 778, ../sass/screen.scss */
aside .topics-tab .active {
  background: #fafafa !important;
  color: #333;
  font-weight: 500 !important;
}
/* line 783, ../sass/screen.scss */
aside .topics-tab .fa-caret-right {
  position: absolute;
  right: 10px;
  color: #A41E22;
}

/* line 790, ../sass/screen.scss */
.navdis {
  display: block;
}

/* line 793, ../sass/screen.scss */
.sitemap {
  font-family: 'Open-sans', sans-serif;
}
/* line 795, ../sass/screen.scss */
.sitemap a {
  color: #1488CC !important;
}
/* line 797, ../sass/screen.scss */
.sitemap a:hover {
  color: #000 !important;
}

/* line 802, ../sass/screen.scss */
.all-article-wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0px;
}

/* line 806, ../sass/screen.scss */
.all-article-container {
  background: #fff;
  margin-bottom: 50px;
  padding: 20px;
}
/* line 810, ../sass/screen.scss */
.all-article-container .main-title {
  color: #A41E22;
  font-weight: 700;
  font-size: 125%;
  line-height: 1.4;
}
/* line 816, ../sass/screen.scss */
.all-article-container .img {
  position: relative;
  margin: 15px 0px;
}
/* line 819, ../sass/screen.scss */
.all-article-container .img img {
  width: 100% !important;
  height: auto;
}
/* line 824, ../sass/screen.scss */
.all-article-container .container {
  position: relative;
}
/* line 826, ../sass/screen.scss */
.all-article-container .container h2 {
  padding: 10px 0px;
  font-weight: 700;
  font-size: 120%;
  font-style: normal;
  margin-left: -2.25px;
  line-height: 1.15;
  letter-spacing: -.02em;
}
/* line 835, ../sass/screen.scss */
.all-article-container .container p {
  line-height: 1.4;
  padding: 10px 0px;
}
/* line 839, ../sass/screen.scss */
.all-article-container .container .readmore {
  font-weight: 600;
  color: #A41E22;
  font-size: 105%;
  position: relative;
}

/* line 848, ../sass/screen.scss */
.page-numbers.current {
  padding: 5px;
}

/* line 852, ../sass/screen.scss */
.pagination {
  padding: 10px;
  font-family: 'Open-sans', sans-serif;
}

/* line 856, ../sass/screen.scss */
.comment-respond {
  padding: 10px;
  background: #fff;
  line-height: 1.4;
  position: relative;
}
/* line 861, ../sass/screen.scss */
.comment-respond .comment-reply-title {
  font-weight: 600;
  padding: 10px 0px;
}
/* line 865, ../sass/screen.scss */
.comment-respond p {
  padding: 10px 0px;
}
/* line 868, ../sass/screen.scss */
.comment-respond a {
  color: #1488CC;
}
/* line 870, ../sass/screen.scss */
.comment-respond a:hover {
  color: #000;
}
/* line 874, ../sass/screen.scss */
.comment-respond .submit {
  background: #1488CC;
  padding: 5px;
  color: #fff;
  border: 1px solid #0974B2;
}

/* line 881, ../sass/screen.scss */
.comment-respond input, .comment-respond textarea {
  width: 100%;
}

/* line 884, ../sass/screen.scss */
.commentary {
  padding-bottom: 20px;
}
/* line 886, ../sass/screen.scss */
.commentary h3#comments {
  font-weight: 600;
  padding: 5px 0px;
}
/* line 891, ../sass/screen.scss */
.commentary .commentlist li {
  background: #fff;
  padding: 10px;
  margin: 10px 0px;
}
/* line 899, ../sass/screen.scss */
.commentary .comment-body .comment-author img {
  border-radius: 25px;
}
/* line 904, ../sass/screen.scss */
.commentary .reply {
  font-weight: 600;
  color: #1488CC;
}

/* line 910, ../sass/screen.scss */
.comment-author b {
  padding: 5px;
  font-weight: 600;
  text-transform: capitalize;
  color: #EC1F27;
}

/* line 917, ../sass/screen.scss */
.comment-metadata {
  padding: 10px 0px;
}
/* line 919, ../sass/screen.scss */
.comment-metadata a {
  color: rgba(0, 0, 0, 0.3);
}
/* line 924, ../sass/screen.scss */
.comment-metadata span.edit-link a {
  color: #1488CC;
}

/* line 930, ../sass/screen.scss */
.comment-content {
  padding: 25px 10px;
  border-left: 3px solid rgba(0, 0, 0, 0.2);
  font-size: 'Open-sans', sans-serif;
  margin: 10px 0px;
}

/* line 937, ../sass/screen.scss */
.category-wrap ul {
  padding: 0px;
}
/* line 939, ../sass/screen.scss */
.category-wrap ul li {
  list-style: none;
  float: left;
  padding: 0px;
}
/* line 945, ../sass/screen.scss */
.category-wrap a {
  background: #A41E22;
  padding: 5px;
  color: #fafafa;
  font-family: 'Open-sans', sans-serif;
  font-size: 90%;
  margin-right: 10px;
}

/* line 955, ../sass/screen.scss */
.post_tags {
  padding: 20px 0px;
}
/* line 957, ../sass/screen.scss */
.post_tags a {
  background: rgba(0, 0, 0, 0.05);
  margin-right: 5px;
  padding: 5px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 90%;
}
/* line 963, ../sass/screen.scss */
.post_tags a:hover {
  color: #1488CC;
}

/* line 969, ../sass/screen.scss */
.super-title {
  font-weight: 600;
  font-size: 150%;
  color: #A41E22;
  padding: 10px 0px;
}

@media only screen and (min-width: 0px) and (max-width: 786px) {
  /* line 978, ../sass/screen.scss */
  .slider-sidebar {
    padding-top: 20px;
    padding-left: 0px;
  }
}
/* line 987, ../sass/screen.scss */
.nav.navbar-nav.navbar-right {
  text-align: right;
  padding-right: 20px;
}

/* line 993, ../sass/screen.scss */
.affix {
  position: relative;
}

/* line 996, ../sass/screen.scss */
.modal-dialog {
  /*margin: 40% 10px;*/
}
