/* line 3, ../sass/slider.scss */
.active-slide {
  display: block;
}

/* line 7, ../sass/slider.scss */
.slide {
  width: 100%;
  height: 500px;
  position: absolute;
  display: none;
}

/* line 16, ../sass/slider.scss */
.slide-wrapper {
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
/* line 21, ../sass/slider.scss */
.slide-wrapper .ninja-wrap {
  max-width: 100%;
  height: 500px;
}
/* line 25, ../sass/slider.scss */
.slide-wrapper .ninja-wrap .slider-cont {
  position: relative;
}
/* line 29, ../sass/slider.scss */
.slide-wrapper .ninja-wrap .slide {
  width: 100%;
  height: 500px;
  position: absolute;
  display: none;
  background: #ebebeb;
}
/* line 36, ../sass/slider.scss */
.slide-wrapper .ninja-wrap .slide div.container.row {
  z-index: 1;
}
/* line 44, ../sass/slider.scss */
.slide-wrapper .slider-nav {
  text-align: right;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 700;
  width: 100%;
  height: 100%;
}
/* line 54, ../sass/slider.scss */
.slide-wrapper .slider-nav .slider-nav-wrapper {
  display: inline-block;
}
/* line 58, ../sass/slider.scss */
.slide-wrapper .slider-nav .arrow-prev {
  left: 0;
}
/* line 62, ../sass/slider.scss */
.slide-wrapper .slider-nav .arrow-next {
  right: 0;
}
/* line 66, ../sass/slider.scss */
.slide-wrapper .slider-nav .arrow-next, .slide-wrapper .slider-nav .arrow-prev {
  position: absolute;
  padding: 10px;
  bottom: 33%;
  background: rgba(0, 0, 0, 0.3);
  font-size: 50px;
  color: #A41E22;
}
/* line 75, ../sass/slider.scss */
.slide-wrapper .slider-nav li {
  margin: 5px;
  display: inline-block;
}
/* line 85, ../sass/slider.scss */
.slide-wrapper .slider-nav a i {
  color: #ebebeb;
}
/* line 90, ../sass/slider.scss */
.slide-wrapper .slider-nav .dot {
  color: #bebebe;
  /* position: absolute; */
  left: 10px;
  /* bottom: 0; */
  font-size: 14px;
  /* z-index: 1; */
  padding-top: 20px;
}
/* line 100, ../sass/slider.scss */
.slide-wrapper .slider-nav .activedot {
  color: #A41E22;
}

/* line 106, ../sass/slider.scss */
.activeslide {
  display: block;
}

/* line 111, ../sass/slider.scss */
.small-sidebar, .slide {
  position: relative;
}
/* line 114, ../sass/slider.scss */
.small-sidebar div.container, .slide div.container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0 auto;
}
/* line 120, ../sass/slider.scss */
.small-sidebar div.container .row, .slide div.container .row {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
}
/* line 131, ../sass/slider.scss */
.small-sidebar div.container .slide-copy, .slide div.container .slide-copy {
  margin: 10px;
}
/* line 134, ../sass/slider.scss */
.small-sidebar div.container .slide-copy h1, .slide div.container .slide-copy h1 {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 105%;
  color: #fff;
}
/* line 141, ../sass/slider.scss */
.small-sidebar div.container .slide-copy p, .slide div.container .slide-copy p {
  padding-bottom: 20px;
  color: #D2D2D2;
}
/* line 145, ../sass/slider.scss */
.small-sidebar div.container .slide-copy p a, .slide div.container .slide-copy p a {
  color: #DE2F34;
  font-weight: 600;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}
/* line 153, ../sass/slider.scss */
.small-sidebar div.container .slide-copy a, .slide div.container .slide-copy a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
/* line 158, ../sass/slider.scss */
.small-sidebar div.container .slide-copy a:hover, .slide div.container .slide-copy a:hover {
  color: #ebebeb;
}
/* line 165, ../sass/slider.scss */
.small-sidebar div.container .slide-copy span.tagline-p, .slide div.container .slide-copy span.tagline-p {
  color: #000;
  text-align: justify;
}
