h1 {
	font-size: 32px;
	padding: 15px 0 30px;
}
h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
h4 {
	font-size: 80%;
}
p {
	line-height: 1.3em;
	margin-bottom: 15px;
}
li, small, .small {
	line-height: 1.3em;
}
a {
	color: #A41E22;
}
label {
	line-height: 1.4em;
}

.btn.btn-default {
	text-align: center;
	color: #FFF;
	background-color: #EC1F27;
	border-color: #EC1F27;
}

.navbar-default .navbar-text {
	margin: 35px 15px;
}
.navbar-default .navbar-right .navbar-text:last-child {
	margin-right: 0;
}
.page-header {
	font-weight: 700;
}
.modal>.modal-dialog>.modal-content {
	font-family: 'Open Sans', sans-serif;
}

.main-container .home-wrapper,
.main-container .form-wrapper,
.main-container .list-wrapper {
	padding: 30px 30px 90px 30px;
	background: #fff;
	margin: 20px 0px;
	position: relative;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}
.home-wrapper img.profile-image {
	width: 50px;
	border-radius: 25px;
	margin-right: 15px;
	margin-top: -7px;
}

.list-wrapper .pagination {
	margin-top: 0;
}
.list-wrapper .pagination > .active > a, 
.list-wrapper .pagination > .active > a:hover, 
.list-wrapper .pagination > .active > a:focus, 
.list-wrapper .pagination > .active > span, 
.list-wrapper .pagination > .active > span:hover, 
.list-wrapper .pagination > .active > span:focus {
	background-color: #EC1F27;
	border-color: #EC1F27;
}
.list-wrapper .pagination > li > a, .pagination > li > span {
	color: #EC1F27;
}

ul.dropdown-menu li {
	padding: 0;
}
ul.dropdown-menu li a {
	margin: 0;
}